{% extends "layout.html.twig" %}

{% block questionnaire_body %}


    <div class="well">
       La question: {{ question.content }}
        <hr>
        Type de question: {{ question.getQuestionType() }}

    </div>

    <i>Créer le {{ question.getCreatedDate()|date('d/m/Y') }} , dernière modification le {{ question.getModifiedDate()|date('d/m/Y') }}</i>

    <p>
        <a href="{{ path('questions_home') }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour à la liste des questions
        </a>
        <a href="{{ path('question_update', {'id': question.id}) }}" class="btn btn-default">
            <i class="glyphicon glyphicon-edit"></i>
            Modifier la question
        </a>
        <a href="{{ path('question_delete', {'id': question.id}) }}" class="btn btn-danger">
            <i class="glyphicon glyphicon-trash"></i>
            Supprimer la question
        </a>
    </p>

{% endblock %}