{% extends 'base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block title %}
    {{ parent() }}
    - Éditer
{% endblock %}

{% block page_content_title %}
    Votre Profile
{% endblock %}

{% block content %}
    <div class="col-md-12">
        <div class="jumbotron">
            {{ form_start ( form ) }}
            <p>
                Pseudo {{ form_widget(form.username, {'attr': {'class': 'form-control'}})  }}
            </p>
            <p>
                Email {{ form_widget(form.email, {'attr': {'class': 'form-control'}})  }}
            </p>
            <p>
                Nom {{ form_widget(form.lastname, {'attr': {'class': 'form-control'}})  }}
            </p>
            <p>
                Prénom {{ form_widget(form.firstname, {'attr': {'class': 'form-control'}})  }}
            </p>
            <p>
                Mot de passe (actuel) {{ form_widget(form.current_password , {'attr': {'class': 'form-control'}})  }}
            </p>
            <button type="submit" class="btn btn-lg btn-primary">
                Enregistrer
            </button>
            <a href="{{ path('user_profile_show') }}" class="btn btn-lg btn-danger">
                Retour
            </a>
            {{ form_end ( form ) }}
        </div>
    </div>
{% endblock %}