{% extends "base.html.twig" %}

{% block page_content_title %}
    Add new Survey
{% endblock %}

{% block content %}
    <div class="well">
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

        {{ form_errors(form) }}

        <div class="form-group">
            <label>Survey Name</label>
            {{ form_errors(form.name) }}
            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            <label>Survey Description</label>
            {{ form_errors(form.description) }}
            {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            <label>Survey Questions</label>
            {{ form_errors(form.questions) }}
            {{ form_widget(form.questions, {'attr': {'class': 'form-control'}}) }}
        </div>


        {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
        {{ form_widget(form.next, {'attr': {'class': 'btn btn-primary'}}) }}

        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}